Repository Atlas-Rhythm/HiveCorePlugins, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Atlas-Rhythm/hive-backend, @Caeden117, @sc2ad, @nike4613

Wrap parameters in a class
  src/Hive.PermissionQuery/Models/QueryParams.cs
  src/Hive.PermissionQuery/PermissionQueryController.cs
Owners: @Atlas-Rhythm/hive-backend

Wrap parameters in a class (#9)
  src/Hive.PermissionQuery/Models/QueryParams.cs
  src/Hive.PermissionQuery/PermissionQueryController.cs
Owners: @Atlas-Rhythm/hive-backend

default return value is true, not false
  src/Hive.Tags/Plugins/TagUploadPlugin.cs
Owners: @Atlas-Rhythm/hive-backend

The other method also needs to return true
  src/Hive.Tags/Plugins/TagUploadPlugin.cs
Owners: @Atlas-Rhythm/hive-backend

Get -> TryGetValue
  src/Hive.Tags/Extensions/HiveModelExtensions.cs
Owners: @Atlas-Rhythm/hive-backend

local testing fixes
  src/Hive.Tags/Extensions/HiveModelExtensions.cs
  src/Hive.Tags/Plugins/RoleUserPlugin.cs
Owners: @Atlas-Rhythm/hive-backend

Use builtin extension method (looks cleaner)
  src/Hive.Tags/Extensions/CustomFunctionExtension.cs
Owners: @Atlas-Rhythm/hive-backend

Add AGPL v3
  LICENSE
Owners: @Atlas-Rhythm/hive-backend

Add AGPL v3 (#12)
  LICENSE
Owners: @Atlas-Rhythm/hive-backend

Refactor config to support absolute path
  src/Hive.FileSystemRuleProvider/FileSystemRuleProvider.cs
  src/Hive.FileSystemRuleProvider/Startup.cs
Owners: @Caeden117

Make same breaking changes to FileSystemCdnProvider
  src/Hive.FileSystemCdnProvider/FileSystemCdnOptions.cs
  src/Hive.FileSystemCdnProvider/FileSystemCdnProvider.cs
Owners: @Caeden117

Update docs
  docs/Hive.FileSystemCdnProvider/Configuration.md
  docs/Hive.FileSystemRuleProvider/Configuration.md
Owners: @Atlas-Rhythm/hive-backend

epic grammar fail
  docs/Hive.FileSystemCdnProvider/Configuration.md
Owners: @Atlas-Rhythm/hive-backend

Refactor config to support absolute path (#13)
  docs/Hive.FileSystemCdnProvider/Configuration.md
  docs/Hive.FileSystemRuleProvider/Configuration.md
  src/Hive.FileSystemCdnProvider/FileSystemCdnOptions.cs
  src/Hive.FileSystemCdnProvider/FileSystemCdnProvider.cs
  src/Hive.FileSystemRuleProvider/FileSystemRuleProvider.cs
  src/Hive.FileSystemRuleProvider/Startup.cs
Owners: @Atlas-Rhythm/hive-backend, @Caeden117

Move body parameters into the query
  src/Hive.PermissionQuery/PermissionQueryController.cs
Owners: @Atlas-Rhythm/hive-backend

Delete now unneeded model
  src/Hive.PermissionQuery/Models/QueryParams.cs
  src/Hive.PermissionQuery/PermissionQueryController.cs
Owners: @Atlas-Rhythm/hive-backend

Created AdditionalUserDataExposerPlugin
  HiveCorePlugins.sln
  src/Hive.AdditionalUserDataExposer/AdditionalUserDataExposerOptions.cs
  src/Hive.AdditionalUserDataExposer/AdditionalUserDataExposerPlugin.cs
  src/Hive.AdditionalUserDataExposer/Hive.AdditionalUserDataExposer.csproj
  src/Hive.AdditionalUserDataExposer/Startup.cs
Owners: @Atlas-Rhythm/hive-backend

Convert HTTP GET to HTTP POST
  src/Hive.PermissionQuery/Models/QueryParams.cs
  src/Hive.PermissionQuery/PermissionQueryController.cs
Owners: @Atlas-Rhythm/hive-backend

Convert api/permissions/query from HTTP GET to HTTP POST
  src/Hive.PermissionQuery/PermissionQueryController.cs
Owners: @Atlas-Rhythm/hive-backend

Update Startup.cs
  src/Hive.AdditionalUserDataExposer/Startup.cs
Owners: @Atlas-Rhythm/hive-backend

Add docs for AdditionalUserDataExposer
  docs/Hive.AdditionalUserDataExposer/Configuration.md
Owners: @Atlas-Rhythm/hive-backend

Fix GetTags using wrong additional data key
  src/Hive.Tags/Extensions/HiveModelExtensions.cs
Owners: @Atlas-Rhythm/hive-backend

Refurbished Webhook Plugin
  HiveCorePlugins.sln
  docs/Hive.Webhooks/Configuration.md
  src/Hive.Webhooks/DefaultHiveWebhook.cs
  src/Hive.Webhooks/Discord/DiscordAuthor.cs
  src/Hive.Webhooks/Discord/DiscordEmbed.cs
  src/Hive.Webhooks/Discord/DiscordField.cs
  src/Hive.Webhooks/Discord/DiscordFooter.cs
  src/Hive.Webhooks/Discord/DiscordHiveWebhook.cs
  src/Hive.Webhooks/Discord/DiscordHookSettings.cs
  src/Hive.Webhooks/Discord/DiscordMedia.cs
  src/Hive.Webhooks/Discord/DiscordProvider.cs
  src/Hive.Webhooks/Discord/DiscordWebhook.cs
  src/Hive.Webhooks/Hive.Webhooks.csproj
  src/Hive.Webhooks/IHiveWebhook.cs
  src/Hive.Webhooks/Startup.cs
  src/Hive.Webhooks/WebhookEmitter.cs
  src/Hive.Webhooks/WebhookSettings.cs
Owners: @Atlas-Rhythm/hive-backend

Update Configuration.md
  docs/Hive.Webhooks/Configuration.md
Owners: @Atlas-Rhythm/hive-backend

Made Categories Plugin
  HiveCorePlugins.sln
  docs/Hive.Tags.Categories/Configuration.md
  src/Hive.Tags.Categories/CategoryOptions.cs
  src/Hive.Tags.Categories/CategoryTagController.cs
  src/Hive.Tags.Categories/CategoryTagPlugin.cs
  src/Hive.Tags.Categories/Hive.Tags.Categories.csproj
  src/Hive.Tags.Categories/Startup.cs
Owners: @Atlas-Rhythm/hive-backend

Fix bug
  src/Hive.Tags.Categories/CategoryTagPlugin.cs
Owners: @Atlas-Rhythm/hive-backend

Add dockerfile and docker GH action
  Dockerfile
  HiveCorePlugins.sln
  docker.yml
Owners: @Atlas-Rhythm/hive-backend

Copy artifacts into a Hive friendly directory
  Dockerfile
Owners: @Atlas-Rhythm/hive-backend

review comment
  Dockerfile
Owners: @Atlas-Rhythm/hive-backend

Add .dockerignore
  .dockerignore
Owners: @Atlas-Rhythm/hive-backend

wow I am very glad i made sure to verify this locally!
  Dockerfile
Owners: @Atlas-Rhythm/hive-backend

(attempt to) pass nuget build args through GH actions
  docker.yml
Owners: @Atlas-Rhythm/hive-backend

small typo in GH actions workflow file
  docker.yml
Owners: @Atlas-Rhythm/hive-backend

move docker action to .github\workflows
  .github/workflows/docker.yml
Owners: @sc2ad

fix workflow formatting
  .github/workflows/docker.yml
  HiveCorePlugins.sln
Owners: @sc2ad, @Atlas-Rhythm/hive-backend

try no-cache on docker action
  .github/workflows/docker.yml
Owners: @sc2ad

remove bin from dockerignore, remove second FROM command
  .dockerignore
  Dockerfile
Owners: @Atlas-Rhythm/hive-backend

Try --from=build
  Dockerfile
Owners: @Atlas-Rhythm/hive-backend

.github/CODEOWNERS:

*                                   @Atlas-Rhythm/hive-backend

/src/Hive.FileSystemCdnProvider*/   @Caeden117
/src/Hive.FileSystemRuleProvider/   @Caeden117
/src/Hive.RateLimiting/             @Caeden117

/.github/                           @sc2ad

.editorconfig                       @nike4613

*.targets                           @nike4613
*.props                             @nike4613
