Repository Atlas-Rhythm/HiveCorePlugins, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Atlas-Rhythm/hive-backend, @Caeden117, @sc2ad, @nike4613

.github/CODEOWNERS:

*                                   @Atlas-Rhythm/hive-backend

/src/Hive.FileSystemCdnProvider*/   @Caeden117
/src/Hive.FileSystemRuleProvider/   @Caeden117
/src/Hive.RateLimiting/             @Caeden117

/.github/                           @sc2ad

.editorconfig                       @nike4613

*.targets                           @nike4613
*.props                             @nike4613

Switch uri generation to StringBuilder
  src/Hive.FileSystemCdnProvider/FileSystemCdnProvider.cs
Owners: @Caeden117

Ignore nuget.config to use GitHub as package source, needs PAT
  .gitignore
Owners: @Atlas-Rhythm/hive-backend

Update Plugin Sdk versions to latest GitHub release
  src/Hive.FileSystemCdnProvider/Hive.FileSystemCdnProvider.csproj
  src/Hive.FileSystemRuleProvider/Hive.FileSystemRuleProvider.csproj
  src/Hive.RateLimiting/Hive.RateLimiting.csproj
Owners: @Caeden117

Fix dereference build issue
  src/Hive.FileSystemCdnProvider.Janitor/Program.cs
Owners: @Caeden117

Fix warnings with Janitor
  src/Hive.FileSystemCdnProvider.Janitor/Program.cs
Owners: @Caeden117

Wrap metadata deletion in try/catch
  src/Hive.FileSystemCdnProvider.Janitor/Program.cs
Owners: @Caeden117

Add build workflow for Actions
  .github/workflows/dotnet-core.yml
Owners: @sc2ad

Fix Actions permissions
  .github/workflows/dotnet-core.yml
Owners: @sc2ad

Integrate new tooling into solution
  HiveCorePlugins.sln
  src/Hive.FileSystemCdnProvider.Janitor/Hive.FileSystemCdnProvider.Janitor.csproj
Owners: @Atlas-Rhythm/hive-backend, @Caeden117

Update Actions to use build artifacts and upload them
  .github/workflows/dotnet-core.yml
Owners: @sc2ad

Fix SingleFile property to only be set when publishing
  src/Hive.FileSystemCdnProvider.Janitor/Hive.FileSystemCdnProvider.Janitor.csproj
Owners: @Caeden117

Fix workflow to actually invoke script properly
  .github/workflows/dotnet-core.yml
Owners: @sc2ad

Update tools and remove PublishTrimmed from janitor
  src/Hive.FileSystemCdnProvider.Janitor/Hive.FileSystemCdnProvider.Janitor.csproj
Owners: @Caeden117

Create project
  HiveCorePlugins.sln
  src/Hive.Tags/Hive.Tags.csproj
  src/Hive.Tags/Startup.cs
Owners: @Atlas-Rhythm/hive-backend

tags model, extension methods
  src/Hive.Tags/Extensions/HiveModelExtensions.cs
  src/Hive.Tags/Models/TagsAdditionalData.cs
Owners: @Atlas-Rhythm/hive-backend

Permissions System functions (requires Hive PR to work)
  src/Hive.Tags/Extensions/CustomFunctionExtension.cs
  src/Hive.Tags/Startup.cs
Owners: @Atlas-Rhythm/hive-backend

reshuffle
  src/Hive.Tags/Extensions/CustomFunctionExtension.cs
Owners: @Atlas-Rhythm/hive-backend

Added Permissions documentation because I was bored
  docs/Hive.Tags/Permissions.md
Owners: @Atlas-Rhythm/hive-backend

add basic plugin interface
  src/Hive.Tags/Plugins/ITagPlugin.cs
  src/Hive.Tags/Plugins/TagUploadPlugin.cs
  src/Hive.Tags/Startup.cs
Owners: @Atlas-Rhythm/hive-backend

Change AdditionalDataKey to just "Tags"
  src/Hive.Tags/Extensions/HiveModelExtensions.cs
Owners: @Atlas-Rhythm/hive-backend

Expose GQL field for tags
  src/Hive.Tags/Graphing/TagsGraphType.cs
  src/Hive.Tags/Startup.cs
Owners: @Atlas-Rhythm/hive-backend

Cleanup
  src/Hive.Tags/Extensions/CustomFunctionExtension.cs
  src/Hive.Tags/Models/TagsAdditionalData.cs
  src/Hive.Tags/Startup.cs
Owners: @Atlas-Rhythm/hive-backend

Change string literal to use nameof
  src/Hive.Tags/Graphing/TagsGraphType.cs
Owners: @Atlas-Rhythm/hive-backend

add review comments for feedback
  src/Hive.Tags/Plugins/ITagPlugin.cs
Owners: @Atlas-Rhythm/hive-backend

Change AreTagsValid docs to reflect mutability
  src/Hive.Tags/Plugins/ITagPlugin.cs
Owners: @Atlas-Rhythm/hive-backend

Address PR feedback
  src/Hive.Tags/Extensions/CustomFunctionExtension.cs
  src/Hive.Tags/Graphing/TagsGraphType.cs
  src/Hive.Tags/Startup.cs
Owners: @Atlas-Rhythm/hive-backend

Start permission query plugin
  Hive.PermissionQuery/Hive.PermissionQuery.csproj
  Hive.PermissionQuery/PermissionQueryController.cs
  Hive.PermissionQuery/Startup.cs
  HiveCorePlugins.sln
Owners: @Atlas-Rhythm/hive-backend

set up Startup.cs (unsure if needed)
  Hive.PermissionQuery/PermissionQueryController.cs
  Hive.PermissionQuery/Startup.cs
Owners: @Atlas-Rhythm/hive-backend

options
  Hive.PermissionQuery/PermissionQueryController.cs
  Hive.PermissionQuery/PermissionQueryOptions.cs
  Hive.PermissionQuery/Startup.cs
Owners: @Atlas-Rhythm/hive-backend

move to src folder
  src/Hive.PermissionQuery/Hive.PermissionQuery.csproj
  src/Hive.PermissionQuery/PermissionQueryController.cs
  src/Hive.PermissionQuery/PermissionQueryOptions.cs
  src/Hive.PermissionQuery/Startup.cs
Owners: @Atlas-Rhythm/hive-backend

roles + plugin refactor
  docs/Hive.Tags/Permissions.md
  src/Hive.Tags/Extensions/CustomFunctionExtension.cs
  src/Hive.Tags/Extensions/HiveModelExtensions.cs
  src/Hive.Tags/Graphing/RolesGraphType.cs
  src/Hive.Tags/Models/TagsAdditionalData.cs
  src/Hive.Tags/Plugins/RoleUserPlugin.cs
  src/Hive.Tags/Plugins/TagUploadPlugin.cs
  src/Hive.Tags/Startup.cs
Owners: @Atlas-Rhythm/hive-backend

Address PR feedback
  src/Hive.Tags/Extensions/HiveModelExtensions.cs
  src/Hive.Tags/Graphing/TagsGraphType.cs
  src/Hive.Tags/Plugins/RoleUserPlugin.cs
Owners: @Atlas-Rhythm/hive-backend

PR feedback
  HiveCorePlugins.sln
  src/Hive.PermissionQuery/PermissionQueryController.cs
  src/Hive.PermissionQuery/Startup.cs
Owners: @Atlas-Rhythm/hive-backend

fix ambiguity
  src/Hive.PermissionQuery/PermissionQueryController.cs
Owners: @Atlas-Rhythm/hive-backend

missing using
  src/Hive.PermissionQuery/PermissionQueryController.cs
Owners: @Atlas-Rhythm/hive-backend

ReadableId => ReadableID
  src/Hive.PermissionQuery/PermissionQueryController.cs
Owners: @Atlas-Rhythm/hive-backend

Bump SDK for new ModService API
  src/Hive.PermissionQuery/Hive.PermissionQuery.csproj
  src/Hive.PermissionQuery/PermissionQueryController.cs
Owners: @Atlas-Rhythm/hive-backend

Remove old assignment
  src/Hive.PermissionQuery/PermissionQueryController.cs
Owners: @Atlas-Rhythm/hive-backend

Bump other projects to SDK 0.1.0-gh890.1
  src/Hive.FileSystemCdnProvider/Hive.FileSystemCdnProvider.csproj
  src/Hive.FileSystemRuleProvider/Hive.FileSystemRuleProvider.csproj
  src/Hive.RateLimiting/Hive.RateLimiting.csproj
  src/Hive.Tags/Hive.Tags.csproj
Owners: @Caeden117, @Atlas-Rhythm/hive-backend

Documentation
  README.md
  docs/Hive.PermissionQuery/Configuration.md
  src/Hive.PermissionQuery/PermissionQueryController.cs
Owners: @Atlas-Rhythm/hive-backend
